body {
    background-color: #E6FFE6;
}

a {
    text-decoration: none;
}

.lista_opcoes {
    background-color: #EEE;
}

.alinha_centro {
    text-align: center;
}

.alinha_direita {
    text-align: right;
}

#opcoes_topo div {
    float: right;
    height: 52px;
    /*width: 90px;
    border: 1px solid #C8D2A9;
    background-color: #C6E9Af;*/
    margin: 0px 10px 10px 0px;
    text-align: center;
    font-size: 12px;
}

#opcoes_topo a {
    color: #2BA12B;
}

#menu_topo {
    background-color: #2BA12B;
    background-image: url(../img/template/fundo_menu_topo.png);
    background-repeat: repeat-x;
    width: 750px;
    float: right;
    text-align: left;
}

#menu_topo ul li a {
    display: inline-block;
    margin: 3px 10px;
    width: 100px;
    text-align: center;
    padding: 20px 1px 1px 1px;
    height: 40px;
}

#menu_topo ul li a:hover {
    background-color: #71c837;
    border: 1px solid #49b61d;
    padding: 19px 0px 0px 0px;
}

#menu_topo ul li a.selecionado {
    background-color: #71c837;
    border: 1px solid #49b61d;
    padding: 19px 0px 0px 0px;
}

#menu_topo ul li a {
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

#menu_lateral {
    background-color: #2CA02C;
    background-image: url(../img/template/fundo_menu_lateral.png);
    background-repeat: repeat-y;
    width: 180px;
    float: left;
    padding: 10px;
}

#menu_lateral div.tamanho_vertical {
    float: right;
    height: 400px;
}

#menu_lateral div.itens {
    float: left;
}

#menu_lateral h2 {
    font-weight: bold;
    font-size: 16px;
    color: #FFF;
    margin: 10px 0px 20px 0px;
    display: block;
    clear: both;
}

#menu_lateral input[type=text], #menu_lateral select {
    width: 100%;
    display: block;
    margin: 0px 0px 6px 0px;
    font-size: 16px;
}

#menu_lateral input[type=button], #menu_lateral input[type=submit] {
    float: right;
}

#menu_lateral ul li {
    display: block;
    width: 157px;
    padding: 3px 10px;
    border: 1px solid #AAA;
    background-color: #b7b7b7;
    background-image: url(../img/template/fundo_botoes_menu.png);
    background-repeat: repeat-x;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

#menu_lateral ul li:hover {
    border: 1px solid #49b61d;
}

#menu_lateral ul li a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

#menu_lateral .form_pesquisa {
}

#menu_lateral .form_pesquisa h2 {
    font-size: 30px;
}

#menu_lateral .form_pesquisa input[type=text] {
    font-size: 24px;
    font-weight: bold;
}

#menu_lateral .form_pesquisa .radios_pesquisa {
    display: inline-block;
    width: 86px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
}

#menu_lateral .form_pesquisa .radios_pesquisa input[type=radio] { 
    display: inline-block;
    margin-right: 3px;
}

#corpo {
    width: 950px;
    margin: 0px auto;
    padding: 10px 0px;
    background-color: #E6FFE6;
}

#info_usuario {
    text-align: right;
    font-size: 14px;
    margin: 6px 0px 6px 0px;
}

#conteudo {
    width: 740px;
    float: right;
}

#conteudo a {
    color: #078307;
}

#conteudo h2 {
    color: #078307;
    font-size: 18px;
    font-weight: bold;
}

#conteudo form label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

#conteudo form label input, #conteudo form label textarea {
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #777;
    width: 50%;
}

#conteudo form label textarea {
    height: 60px;
}

#conteudo form fieldset {
    padding: 10px;
    margin: 10px 0px;
}

#conteudo form fieldset legend {
    border-bottom: 4px double #777;
    width: 100%;
}

#conteudo .paginacao {
    text-align: right;
}

.div_direita {
    text-align: right;
}

.div_direita p {
    display: inline;
}

#conteudo table {
    width: 95%;
    margin: 10px auto;
    border-collapse: collapse;
}

#conteudo table thead {
    font-weight: bold;
    font-size: 18px;
    background-color: #DDD;
}

#conteudo table th {
    font-weight: bold;
}

#conteudo table th.subtitulo {
    background-color: #DDD;
    text-align: center;
    font-size: 18px;
}

#conteudo label.error {
    color: #FF2626;
}

/* Configurações */
#lista_configuracoes {
    width: 100%;
    margin: 10px auto;
}

#lista_configuracoes li {
    display: inline-block;
    width: 100px;
    text-align: center;
    font-size: 12px;
}

#rodape p {
    text-align: center;
    font-size: 10px;
}

/* Textos editados com o TinyMCE */
#conteudo table strong {
    font-weight: bold;
}

#conteudo table em {
    font-style: italic;
}

#conteudo table ul {
    list-style: circle inside;
}

#conteudo table ol {
    list-style: decimal inside;
}
