body {
    background-color: #E8EBE6;
}

#menu_topo {
    background-color: #2BA12B;
    background-image: url(../img/template/fundo_menu_topo.png);
    background-repeat: repeat-x;
    width: 750px;
    float: right;
}

#menu_lateral {
    background-color: #2CA02C;
    background-image: url(../img/template/fundo_menu_lateral.png);
    background-repeat: repeat-y;
    width: 180px;
    float: left;
    padding: 10px;
}

#menu_lateral input[type=text] {
    width: 100%;
}

#menu_lateral ul a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

#corpo {
    width: 950px;
    margin: 20px auto;
}

#conteudo {
    width: 740px;
    float: right;
}

#conteudo form label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #555;
    margin-bottom: 8px;
}

#conteudo form label input, #conteudo form label textarea {
    display: block;
    font-size: 18px;
    font-family: sans-serif;
    border: 1px solid #777;
    width: 50%;
}

#conteudo form label textarea {
    height: 60px;
}

#conteudo form fieldset {
    border: 1px solid #777;
    padding: 10px;
    margin: 10px 0px;
}

#conteudo form fieldset legend {
    border-right: 4px double #777;
    border-left: 4px double #777;
}

.div_direita {
    text-align: right;
}

#conteudo table {
    width: 95%;
    margin: 10px auto;
    border-collapse: collapse;
}

#conteudo table thead {
    font-weight: bold;
    font-size: 18px;
    background-color: #DDD;
}

#conteudo table th {
    font-weight: bold;
}

#conteudo table th.subtitulo {
    background-color: #DDD;
    text-align: center;
    font-size: 18px;
}