body {
    font-family: 'Liberation Sans', sans-serif;
    font-size: 14px;
}

input, select {
    font-family: sans-serif;
    color: #555;
}

input[type=submit], input[type=button] {
    border: 1px solid #7BDB2A;
    background-image: url(../img/template/fundo_botoes.png);
    background-repeat: repeat-x;
    background-color: #56D700;
    color: #FFF;
}

input[type=text], input[type=password], select {
    border: 1px solid #9CF26C;
    font-size: 22px;
    width: 190px;
    background-color: #FFF;
}

.limpar {
    clear: both;
}

/* Mensagens */
.erro {
    background-color: #FFB2B8;
    background-image: url(../img/template/erro.png);
    background-repeat: no-repeat;
    background-position: 10px 5px;
    color: #D40000;
    font-weight: bold;
    border: 2px solid #CC7D9E;
}

.erro p {
    padding: 5px 5px 5px 35px;
    font-size: 14px;
}