body {
    background-image: url(../img/template_login/fundo.png);
    background-repeat: repeat-x;
    background-color: #2CA02C;
}

#caixa {
    width: 274px;
    height: 136px;
    margin: 200px auto 0px auto;
    background-image: url(../img/template_login/caixa.png);
    background-repeat: no-repeat;
    padding: 10px 18px 17px 16px;
}

form {
    margin-top: 25px;
}

label {
    display: block;
    margin: 5px auto;
    font-size: 12px;
    color: #555;
    font-weight: bold;
    clear: both;
    height: 30px;
    width: 250px;
}

input {
    float: right;
}

input[type=text], input[type=password] {
    border: 1px solid #9CF26C;
    font-size: 22px;
    width: 190px;
}

input[type=submit] {
    margin-right: 13px;
}

.erro {
    width: 300px;
    margin: 20px auto 0px auto;
}