body {
    background-image: url(../img/template_login/fundo.png);
    background-repeat: repeat-x;
    background-color: #00B135;
}

#caixa {
    width: 538px;
    height: 290px;
    margin: 120px auto 0px auto;
    background-image: url(../img/template_login/caixa.png);
    background-repeat: no-repeat;
    padding: 10px 50px 17px 30px;
}

form {
    margin-top: 25px;
}

label {
    display: block;
    margin: 5px auto;
    font-size: 12px;
    color: #555;
    font-weight: bold;
    clear: both;
    height: 30px;
    width: 100%;
    font-size: 22px;
}

input {
    float: right;
}

input[type=text], input[type=password] {
    width: 100%;
    font-size: 30px;
    margin-bottom: 10px;
}

input[type=submit] {
    font-size: 22px;
}

.erro {
    width: 300px;
    margin: 20px auto 0px auto;
}

#rodape {
    text-align: center;
    font-size: 12px;
    color: #222;
}
